.header{
    display:flex;
    padding:20px 70px;
    align-items:center;
    justify-content: space-between;  
    position:fixed;
    top:0px;
    z-index:1;
    width:90%;
    background-color:white; 
}
body{
    font-family: "Open Sans";
}
.gender-label{
    font-size:30px;
}
.gender1{
    padding-right:30px;  
}
.searching{
    border-radius:10px;
    color: #BBBBBB;	
    height:30px;
    border:2px solid #BBBBBB;
}
.searching1{
    border:none;
    font-size:14px;

}
.searching1:focus{
    outline:none;

}
.image-search{
    padding-top:4px;
    padding-left:4px;
}
.content{
    display:flex;
    height: 200vh;
    margin-top: 81px;
}
.child1-content{
    background-color: #EAEAEA;
    max-height:500px;
    width:170rem;;
    position: sticky;
    top:81px;
    padding-left: 150px;
    padding-top:150px;
}
.shoeclass{
    margin:auto;
    width:100%;
    max-width: 600px;
}
.child2-content{
    background-color: #F4F4F4; 
    padding:30px 30px;
}
.colors-choose{
    display:flex;
   
}
.color-choose1{
    display:flex;
    margin-right:0px;
    margin-left:0px;
    height:40px;
    width:40px;
    border: 2px solid black;
    border-radius:10px;
    margin-right:10px;
    color:black;
    text-align: center;
    font-weight: bold;
    
}

.colors-size{
    display:flex;
    
}
.colors-size1{
    display:flex;
    margin-top:30px;
    
}
.color1{
    height:30px;
    width:40px;
    border: 2px solid black;
    border-radius:10px;
    margin-right:10px;
    color:black;
    text-align: center;
    font-weight: bold;
    padding-top:10px;
}
.colorblack{
    background-color:black;
    color:white;
}
.colorblue{
    width:20px;
    background-color:#76ACA8;
    height:40px;
    border-radius:10px 0px 0px 10px;
}
.colorpink{
    background-color: #F6796F;
    width:20px;
    border-radius:0px 8px 8px 0px;
}
.colorpurple{
    background-color: #8076AC;
    width:20px;
    border-radius:8px 0px 0px 8px;
}
.colorlight{
    background-color: #6FAAF6;
    width: 20px;
    border-radius:0px 8px 8px 0px;
}
.colorblack1{
    background-color: black;
    width: 20px;
    border-radius:8px 0px 0px 8px;
}
.colorwhite{
    background-color:white;
    width:20px;
    border-radius:0px 8px 8px 0px;
}
.button-buynow{
    height: 50px;
    width: 300px;
    background-color: black;
    border-radius:10px;
    color:white;
    margin:30px 0px;
   
}
p{
    font-size:13px;
}
@media (max-width:1000px) {
        .content {
            flex-direction: column
        }

        .img{
            width: 200px;
            height: auto;
            margin-left: 20%;
        }
        .child1-content {
            padding-left: 10px;
            padding-right: 10px;
            padding-top:100px;
            height:auto;
            width:100%;
        }

    }